{% extends 'index.html' %}
{% block pageClass %}about-page{%endblock%}
{% block title %}About Hitteur{% endblock %}
{% block meta %}About our brand and values{% endblock %}
{% block body %}
        <div class="row about-row">
          <div class="about columns small-centered small-11 medium-10 xtra-large-8 text-center">
            <p>Derived from French and English Slang.</p>

            <p>Etymology</p>

            <p>From hitter + -eur</p>

            <p><strong>Noun</strong></p>

            <p>A better cyclist than you. m [no plural]</p>

            <p>Hitteur is from Dalston, London, we make and sell cycling apparel.</p>

            <p><em>Whatever I sell I make sure of one thing - it's good quality, good looking, and designed for a purpose.</em> – AR</p>
          </div>
        </div>
{% endblock %}
